# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pdm
.pdm.toml

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.*
!.env*.dist
.venv.*
!.venv*.dist
.venv/
env/
.python
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# ruff
.ruff_cache/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Logs
logs/

# Win OS
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# Configuration
/extras/*
!/extras/.gitkeep
/overrides/*
!/overrides/.gitkeep
config.toml
games.json
settings.json

# Data
/output/
/temp/

# Project-specific
tests/

# Other
/avatar/*
!/avatar/.gitkeep
/bin/*
!/bin/.gitkeep
/hypervisor/*
!/hypervisor/.gitkeep
scratch/
/shortcuts/

# Local dev
scripts/local/
